body {
  background:#edf7ef;
  margin:auto;
  overflow-x:hidden;
}

h1 {
  background:#0a4214;
  overflow:hidden;
  color:white;
  text-align:center;
  font-size:15px;
  padding:25px 0px;
}

h3 {
	font-size:15px;
}

#hlinks {
  position:relative;
  bottom:16px;
}
#hlinks ul {
  background:#5a9e66;
  list-style-type:none;
  margin:0px;
  overflow:hidden;
}

#hlinks li {
  float: left;
}

#hlinks a {
  text-decoration:none;
  color:white;
  display:block;
  padding:15px 1px 15px 20px;
  font-size:12px;
  position:relative;
  left:20px;
}

#hlinks a:hover {
  background:#1b261d;
}

input {
  outline:none;
  border: 1px solid #9bc4a2;
  border-radius:2px;
}

textarea:focus, input {
  font-size:10px;
}

#flex-container {
  flex:1;
  display:flex;
}

li {
  list-style:none;
  padding-bottom:5px;
  font-size:10px;
  position:relative;
  right:40px;
}

#bills input {
  width:123px;
}

#price input {
  width:55px;
}

#calculate {
  position:relative;
  left:120px;
  bottom:10px;
}

#calculate span {
  font-weight:bold;
  font-size:25px;
}

#cal {
  background:#0a4212;
  outline:none;
  border:none;
  color:white;
  padding:5px 10px;
  font-size:12px;
  font-weight:bold;
  position:relative;
  right:45px;
}

#cal:active {
  background:#4f6052;
}

